
<div class="ui five doubling inverted cards">

  <div class="card">
    <div class="content">
      <i class="right floated huge"></i>
      <h3 class="ui header">{{name}}</h3>
    </div>
  </div>
  
  
  <div class="card">
    <div class="content">
      <i class="right floated huge"></i>
      <h3 class="ui header">Weather</h3>
      <div class="description">
        <div class="ui text"> </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="content">
      <i class="right floated huge"></i>
      <h3 class="ui header">Temp</h3>
      <div class="description">
        <div class="ui text"> {{_valueA}}</div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="content">
      <i class="right floated huge"></i>
      <h3 class="ui header">Wind</h3>
      <div class="description">
        <div class="ui text"> {{_valueA}}</div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="content">
      <i class="right floated huge"></i>
      <h3 class="ui header">Pressure</h3>
      <div class="description">
        <div class="ui text"> {{_valueA}}</div>
      </div>
    </div>
  </div>

</div>
